body {
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #ECEEF1;
    
}

/* General */

input[type=submit] {
    color: white;
    background-color: #0075C5;
    border: 1px solid grey;
    border-radius: 5px;
}

/* Nav stuff */
nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 8px 25px;
}

#navwords {
    font-size: small;
    padding: 6px;
}

#signin {
    height: 32px;
    width: 87px;

}

/* Center stuff */

main {
    width: 100%;
    display: flex;
	align-items: center;
	justify-content: center;
}

#logo {
    width: 310px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 14px;
}

#align {
    
    display: inline-block;
    width: 380px;
    height: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
}

#centercontent {
    border: 1px solid lightgrey;
    border-radius: 2px;
    background-color: white;
    padding: 28px;
}

#formtitle {
    text-align: center;
    padding: 10px;
    font-size: 22px;
}

#formsubtitle {
    text-align: center;
    padding: 2px;

}

#formlearnmore {
    text-align: center;
    display: block;
    text-decoration: none;
}

label {
    display: block;
    margin-top: 10px;
    padding-bottom: 15px;
}

input {
    display: block;
    width: 100%;
    font-size: 15px;
    margin-bottom: 30px;
    border: 1px solid lightgray;
}

#submitaccount {
    width: 100%;
    height: 50px;
}

/* Footer stuff */

footer {
    color: grey;
    font-size: small;
}

#footerlinks {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

#footercopyright {
    text-align: center;
}