body {
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(243, 243, 243);
    
}

/* Nav stuff */
nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 8px 25px;
}

#signin {
    background-color: #0075C5;
    color: white;
    height: 34px;
    width: 85px;
    border: 1px solid grey;
    border-radius: 5px;
}

/* Center stuff */

main {
    width: 100%;
    display: flex;
	align-items: center;
	justify-content: center;
}

#align {
    border: 1px solid black;
    background-color: white;
    display: inline-block;
    width: 400px;
    height: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
}

/* Footer stuff */

footer {
    color: grey;
    font-size: small;
}

#footerlinks {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

#footercopyright {
    text-align: center;
}